@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
 *{
    margin: 0;
 }
 :root{
    --red:#d01c28;
    --gray:#2e2e2e;
 }
 body{
    font-family: "Poppins" ,sans-serif;

 }
.container{
    margin: 0 auto;
    max-width: 1280px;
}

 nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;


 }
 nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    
 }
 button{
   all: unset;
   height: 32px;
   padding: 6px 16px;
   background:var(--red);
   color: white;
   font-weight: 500;
 }

 .hero{
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);

 }
 .hero-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
 }
 .hero h1{
    font-weight: 800;
    font-size: 5rem;
    line-height: 98px;
 }

 .hero p{
    font-weight: 600;
    color: var(--gray);

    
 }
 .hero-btn button{
    font-size: 1.5rem;
 }
.hero-btn{
    display: flex;
    gap: 40px;
}
.secondary-btn{
    background: transparent;
    color: var(--gray);
    border: 1px solid grey;

}
.shopping p{
    font-size: 1.1rem;
    margin-bottom: 8px;
}
.brand-icon{
    display: flex;
    gap: 16px;
}
















